<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Deposit Termination</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="pdf-content">
      <div class="content">
        <img class="logo" src="./logo.png" alt="" />
      </div>
      <div class="content">
        <h3 class="text-center mb-20">MÜŞTƏRİNİN QEYDİYYAT ƏRİZƏSİ</h3>
        <p><b> İSTİFADƏÇİLƏR </b>: Fiziki Şəxslər</p>
      </div>
      <div class="content">
        <div class="grey-block mb-10">
          <h4 class="flex ml-5">MÜHÜM QEYDLƏR</h4>
        </div>

        <ul class="custom-bullets ml-20">
          <li>İmza üçün yalnız qara və ya mavi mürəkkəbdən istifadə edin</li>
          <li>Əlavə olaraq daxil edilmiş düzəlişləri imzanızla təsdiq edin</li>
          <li>* ilə işarələnmiş xanaların doldurulması vacibdir</li>
        </ul>

        <p class="mb-10 mt-20">
          Xahiş edirəm “PAŞA Bank” ASC-nin “Biznes Mərkəzi adı” tərəfindən
          aşağıdakı məlumatlara uyğun qeydiyyat aparılsın:
        </p>
      </div>

      <div class="content">
        <div class="grey-block mb-10">
          <h4 class="flex ml-5">MÜŞTƏRİ İLƏ BAĞLI MƏLUMAT</h4>
        </div>

        <div class="d-flex gap-120">
          <div class="flex-center">
            <p class="mb-10">
              * Adı
              <span class="underlined ml-5"><%= Test %></span>
            </p>
          </div>
          <div class="flex-center">
            <p class="mb-10">
              * Soyadı
              <span class="underlined ml-5"><%= Testov %></span>
            </p>
          </div>
          <div class="flex-center">
            <p class="mb-10">
              * Ata adı
              <span class="underlined ml-5"><%= Test %></span>
            </p>
          </div>
        </div>

        <div class="d-flex gap-20">
          <p class="mb-10 d-flex">
            * Doğum tarixi
            <span class="underlined ml-5"><%= 05.05.05 %></span>
          </p>
          <p class="mb-10 d-flex">
            * Doğulduğu yer
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
          <p class="mb-10 d-flex">
            * Vətəndaşlığı
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
        </div>

        <p class="mb-10">
          * Şəxsiyyəti təsdiq edən sənədin seriya və nömrəsi
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * FIN kodu:
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <div class="d-flex gap-20">
          <p class="mb-10">
            * Verilmə tarixi
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
          <p class="mb-10">
            * Bitmə tarixi
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
        </div>

        <p class="mb-10">
          * Milliyəti
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="d-flex gap-10 mb-10">
          <p>Ad, Soyad, Ata adı dəyişdirilib mi?</p>

          <div class="flex-center">
            <input type="checkbox" />
            <label>Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>Xeyr</label>
          </div>
        </div>
        <p class="mb-10">
          Cavabınız "bəli" olduğu təqdirdə əvvəlki ad, soyad, ata adını qeyd
          edin
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="flex-wrap">
          * Şəxsiyyəti təsdiq edən əlavə sənəd:

          <div class="d-flex gap-5">
            <div class="flex-center ml-5">
              <input type="checkbox" />
              <label for="beli">Pasport</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Sürücülük vəsiqəsi</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Doğum haqqında şəhadətnamə</label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">Digər (yalnız qeyri-rezidentlər üçün) </label>
              <p><span class="underlined"><%= 20000000 %></span></p>
            </div>
          </div>
        </div>

        <p class="mb-10">
          * Şəxsiyyəti təsdiq edən əlavə sənədin seriya və nömrəsi:
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <div class="d-flex gap-20">
          <p class="mb-10">
            * Verilmə tarixi
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
          <p class="mb-10">
            * Bitmə tarixi
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
        </div>
        <p class="mb-10">
          * VÖEN (mövcuddursa)
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * Mənsub olduğu vergi rezidentliyi ölkəsi
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * Şəxsiyyəti təsdiq edən əlavə sənədin FIN kodu (olduqda):
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="row">
          <p>* Cinayət məsuliyyətinə cəlb edilmisiniz?</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>
        </div>

        <p class="mb-10">
          Cavab “Bəli” olduğu təqdirdə, zəhmət olmasa açıqlayın
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * Siz, yaxın qohumunuz və ya yaxın münasibətdə olduğunuz şəxs siyasi
          nüfuzlu şəxsdirmi?
        </p>
        <div class="d-flex gap-5 mb-10">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">Xeyr</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">Siyasi nüfuzlu şəxsin yaxın qohumu</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr"
              >Siyasi nüfuzlu şəxsin yaxın münasibətdə olduğu şəxs</label
            >
          </div>
        </div>
        <p class="mb-10">
          * Zəhmət olmasa Siyasi nüfuzlu şəxs (yaxın qohum və ya yaxın
          münasibətdə olduğu şəxs) olduğunuz halda “Siyasi Nüfuzlu Şəxs” və
          “Sərvətin Mənbəyi”anketlərini doldurun
        </p>
      </div>

      <div class="content">
        <div class="grey-block mb-10">
          <h4 class="flex ml-5">ƏLAQƏ MƏLUMATI</h4>
        </div>
        <div class="grey-block mb-20">
          <h4 class="flex ml-5">QEYDİYYAT ÜNVANI</h4>
        </div>

        <div class="mb-20">
          <p>
            Qeydiyyat ünvan
            <span class="underlined-f">
              <%= Rayon Seher Test Rayon Seher Test Rayon Seher Test %></span
            >
          </p>

          <p class="align-center mt-10 font-italic">(küçə,mənzil,bina)</p>
        </div>

        <div class="row-bs pb-30 mt-10">
          <div class="col-4">
            <p class="d-flex">
              Şəhər <span class="underlined-75 ml-5"> <%= Baku %></span>
            </p>
          </div>
          <div class="col-4">
            <p class="d-flex">
              İndeks <span class="underlined-75 ml-5"> <%= 2123312 %></span>
            </p>
          </div>
          <div class="col-4">
            <p class="d-flex">
              Ölkə <span class="underlined-75 ml-5"> <%= Azerbaycan %></span>
            </p>
          </div>
        </div>

        <div class="row-bs pb-30 mt-10">
          <div class="col-4">
            <p class="d-flex">
              Tel <span class="underlined-75 ml-5"><%= 0505005050 %></span>
            </p>
            <p class="align-center mt-10 font-italic">(ev)</p>
          </div>
          <div class="col-4">
            <p class="d-flex">
              <span class="underlined-75 ml-5"> <%= 0505005050 %></span>
            </p>
            <p class="align-center mt-10 font-italic">(iş)</p>
          </div>
          <div class="col-4">
            <p class="d-flex">
              <span class="underlined-75 ml-5"> <%= 0505005050 %></span>
            </p>
            <p class="align-center mt-10 font-italic">(Mobil)</p>
          </div>
        </div>

        <div class="row-bs pb-30">
          <div class="col-6">
            <p class="d-flex">
              E-poçt
              <span class="underlined-75 ml-5"><%= test@mail.com %></span>
            </p>
            <p class="align-center mt-10 font-italic">(şəxsi)</p>
          </div>
          <div class="col-6">
            <p class="align-center">
              <span class="underlined-75 ml-20"><%= 0505005050 %></span>
            </p>
            <p class="align-center mt-10 font-italic">(İş)</p>
          </div>
        </div>

        <div class="grey-block mb-10">
          <h4 class="ml-10 mt-5">FAKTİKİ ÜNVAN</h4>
        </div>

        <div class="flex-center mb-30 mt-20">
          <input type="checkbox" />
          <label>Qeydiyyat ünvanı ilə eynidir</label>
        </div>

        <div class="mb-20 mt-10">
          <p>
            Faktiki ünvan
            <span class="underlined-f ml-5">
              <%= Rayon Seher Test Rayon Seher Test Rayon Seher Test %></span
            >
          </p>
          <p class="align-center mt-10 font-italic">(küçə,mənzil,bina)</p>
        </div>

        <div class="row-bs pb-30 mt-10">
          <div class="col-4">
            <p class="d-flex">
              Şəhər <span class="underlined-75 ml-5"> <%= Baku %></span>
            </p>
          </div>
          <div class="col-4">
            <p class="d-flex">
              İndeks <span class="underlined-75 ml-5"> <%= 2123312 %></span>
            </p>
          </div>
          <div class="col-4">
            <p class="d-flex">
              Ölkə <span class="underlined-75 ml-5"> <%= Azerbaycan %></span>
            </p>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="grey-block mb-10">
          <h4 class="ml-10 mt-5">ƏLAVƏ MƏLUMAT</h4>
        </div>

        <div class="row">
          <div class="flex-center gap-10">
            <p>* Cinsi</p>

            <div class="d-flex">
              <div class="flex-center">
                <input type="checkbox" />
                <label>K</label>
              </div>
              <div class="flex-center">
                <input type="checkbox" />
                <label>Q</label>
              </div>
            </div>
          </div>

          <div class="flex-center gap-10">
            <p>Ailə vəziyyəti</p>

            <div class="d-flex">
              <div class="flex-center">
                <input type="checkbox" />
                <label>evli</label>
              </div>
              <div class="flex-center">
                <input type="checkbox" />
                <label>subay</label>
              </div>
            </div>
          </div>

          <div class="flex-center gap-10">
            <p>Övlad sayı:</p>
            <span class="underlined"><%= 20000000 %></span>
          </div>
        </div>

        <div class="flex-center gap-10 mb-10">
          <p>* Təhsil</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" />
              <label>orta</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>natamam ali</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label>ali</label>
            </div>
          </div>
        </div>

        <div class="mb-10">
          <div class="flex-wrap">
            * Məşğulluq statusu:
            <div class="flex-center">
              <input type="checkbox" />
              <label>İşləyir</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Şəxsi iş</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Sahibkarlıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Pensiya</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Tələbə</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>İşsiz</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Digər (z.o. açıqlayın)</label>
              <span class="underlined"><%= REASON REASON %></span>
            </div>
          </div>

          <div class="row">
            <p class="mt-10">
              * İşlədiyi təşkilat
              <span class="underlined"><%= DD MMCMMCMMC %></span>
            </p>

            <p class="mt-10">
              * Vəzifə/ Fəaliyyət istiqaməti
              <span class="underlined"><%= DD MMCMMCMMC %></span>
            </p>
          </div>

          <div class="row">
            <p>
              * Aylıq əmək haqqı:
              <span class="underlined"><%= DD MMCMMCMMC %></span> (AZN)
            </p>
          </div>
        </div>

        <div class="flex-center gap-10 mb-10">
          <div class="d-flex gap-10">
            <div class="flex-center">
              <input type="checkbox" />
              <label>1,000 – 5,000 AZN qədər</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>5,000 – 10,000 AZN</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label>10,000 - 50,000 AZN</label>
            </div>
          </div>
        </div>

        <div class="row">
          <p>
            Digər
            <span class="underlined"><%= 5000000 %></span> (AZN)
          </p>
        </div>

        <div class="row">
          <p>* Əlavə gəlir mənbəyiniz var?</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>
        </div>
        <p class="mb-10">
          Cavabınız "bəli" olduğu təqdirdə digər gəlir mənbəyinizi qeyd edin:
        </p>

        <div class="row">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">pensiya/sosial müavinatlər</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">depozit faizləri</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">dividend ödənişləri</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">icarədən gəlir/renta </label>
          </div>
        </div>

        <div class="row">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">royalti</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">miras payı</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>sahibkarlıq fəaliyyəti</label>
            (fəaliyyəti qeyd edin)<span class="underlined"
              ><%= REASON REASON %></span
            >
          </div>
        </div>

        <div class="flex-center mb-10">
          <input type="checkbox" />
          <label for="beli"
            >maliyyə yardımı (maliyyə yardımının kimin tərəfindən edildiyini
            qeyd edin)
          </label>
          <span class="underlined"><%= 20000000 %></span>
        </div>

        <div class="flex-center mb-10">
          <input type="checkbox" />
          <label for="beli">digər</label>
          <span class="underlined"><%= 20000000 %></span>
        </div>

        <div class="mb-20">
          <p class="mb-10">
            * Əlavə gəlir mənbələri üzrə illik gəlirlərin məbləği və dövrülüyü:
          </p>
          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            <p>Digər <span class="underlined"> <%= 20000000 %> </span> (AZN)</p>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">Həftəlik</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Aylıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">İllik</label>
            </div>
          </div>
        </div>

        <div class="flex-wrap">
          * Xalis sərvətin miqdarı:

          <div class="d-flex gap-5">
            <div class="flex-center ml-5">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            <p>Digər <span class="underlined"><%= 20000000 %></span> (AZN)</p>
          </div>
        </div>

        <p class="mb-10">
          * Müştəri tərəfindən təqdim olunan şifrə (min 5 max 8 rəqəm):
          <span class="underlined"><%= 20000000 %></span>
        </p>
        <div>
          <p class="mb-10">
            Bankla işgüzar münasibətlərin yaradılmasının məqsədi və istifadəsi
            nəzərdə tutulan xidmətlər:
          </p>

          <div class="flex-wrap mb-10">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">əsas bank əməliyyatları</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">kapitalın qorunması</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">əmanət yerləşdirmək</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">vergi/rüsumların ödənilməsi</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">kredit münasibətlərinə daxil olmaq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">maliyyə və qeyri-maliyyə xidmətləri </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">ticarətin maliyyələşdirilməsi</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Digər</label>
              <span class="underlined"><%= 20000000 %></span>
            </div>
          </div>
        </div>

        <div>
          <p class="mb-10">
            * Aparılması planlaşdırılan mədaxil əməliyyatlarının həcmi:
          </p>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            <p>Digər <span class="underlined"><%= 20000000 %></span> (AZN)</p>
          </div>
        </div>

        <div>
          <p class="mb-10">
            * Aparılması planlaşdırılan məxaric əməliyyatlarının həcmi və
            istiqamətləri:
          </p>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            <p>Digər <span class="underlined"><%= 20000000 %></span> (AZN)</p>
          </div>
        </div>

        <div>
          <p class="mb-10">* Son 1 ildə xaricə köçürmələrin miqdarı :</p>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            <p>Digər <span class="underlined"><%= 20000000 %></span> (AZN)</p>
          </div>
        </div>

        <div>
          <p class="mb-10">* Son 1 ildə xaricdən daxilolmaların miqdarı:</p>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            <p>Digər <span class="underlined"><%= 20000000 %></span> (AZN)</p>
          </div>
        </div>

        <p class="mb-10">* Vəsaitlərin mədaxil edilmə üsulları və dövrülüyü:</p>

        <div class="d-flex mb-10 gap-10">
          <div class="flex-center">
            <input type="checkbox" />
            <label>nağd</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>nağdsız</label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label>hər iki formada</label>
          </div>
        </div>

        <p class="mb-10">
          * Məhsul üzrə sərəncam vermək hüququ olan digər şəxslər var?
        </p>

        <div class="d-flex mb-10">
          <div class="flex-center">
            <input type="checkbox" />
            <label>Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>Xeyr</label>
          </div>
        </div>

        <p class="mb-10">
          Cavabınız “Bəli” olarsa, zəhmət olmazsa, həmin şəxslərə dair
          məlumatları qeyd edin:
        </p>

        <p class="mb-10">
          Ad, soyad, ata adı:
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          FIN kod:
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          Şəxsiyyəti təsdiq edən sənədin seriya və nömrəsi:
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          Doğum tarixi və yeri:
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          İstifadəsi nəzərdə tutulan xidmətlərə dair məlumat (siyahı):
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="flex-center gap-20">
          <div class="d-flex gap-10 mb-10">
            <p>Digər bank hesablarınız var mı?</p>

            <div class="flex-center">
              <input type="checkbox" />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>

          <div class="d-flex gap-20">
            <p class="mb-10">
              Bankın adı
              <span class="underlined"><%= 05.05.20205 %></span>
            </p>

            <p class="mb-10">
              * Ölkə
              <span class="underlined"><%= Azerbaycan,Baku %></span>
            </p>
          </div>
        </div>

        <div class="row">
          <p>* Hesab üzrə mütəmadi əməliyyat planlaşdırırsınız mı?</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>
        </div>

        <p class="mb-10">
          Cavabınız “Xeyr” olarsa, planlaşdırılan birdəfəlik əməliyyat haqqında
          məlumatları qeyd edin:.
        </p>

        <p class="mb-10">Əməliyyatın növü:</p>

        <div class="mb-10">
          <div class="flex-wrap">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">digər şəxs(lər) tərəfindən nağd mədaxil</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">ödəniş terminalı vasitəsilə mədaxil</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr"
                >Bankın kassası və ya ödəniş terminalları vasitəsilə sürətli pul
                köçürmələri</label
              >
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">nağd valyuta mübadiləsi</label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr"
                >virtual aktiv hesablarından və elektron pul kisələrindən
                köçürmələr</label
              >
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr"
                >Bankın kassası vasitəsilə lotereya və idman mərc oyunları üzrə
                uduşların məxarici</label
              >
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">digər </label>
              <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
            </div>
          </div>
        </div>

        <p class="mb-10">
          Əməliyyatın təyinatı
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          Əməliyyatın istiqaməti
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <p class="mb-10">
          Əməliyyatın mənbəyi
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>
      </div>

      <div class="content mt-20">
        <div class="grey-block mb-10">
          <h4 class="ml-10 mt-5">
            HESABIN YEKUN SAHİBİ VƏ YA MALİYYƏLƏŞDİRƏN ŞƏXS (SPONSOR) HAQQINDA
            MƏLUMAT
          </h4>
        </div>
        <div class="row">
          <p>* Hesab sahibi (benefisiarı) Sizsiniz ?</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>
        </div>

        <p class="mb-10">
          “Xeyr” seçildiyi təqdirdə vəsaitin sahibi (benefisiarı) və ya
          maliyyələşdirən şəxs (sponsor) haqqında aşağıda göstərilən məlumatları
          doldurun.
        </p>

        <p class="mb-10">
          * Vəsaitin sahibi (benefisiarı) və ya maliyyələşdirən şəxslə (sponsor)
          qohumluq əlaqəsinə dair məlumat
          <span class="underlined ml-10"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * Ad, Soyad, Ata adı
          <span class="underlined ml-10"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <div class="flex-center gap-20">
          <div class="d-flex gap-10 mb-10">
            <p>* Cinsi</p>

            <div class="flex-center">
              <input type="checkbox" />
              <label>K</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Q</label>
            </div>
          </div>

          <div class="d-flex gap-20">
            <p class="mb-10">
              * Doğum tarixi
              <span class="underlined"><%= 05.05.20205 %></span>
            </p>

            <p class="mb-10">
              * Doğulduğu yer
              <span class="underlined"><%= Azerbaycan,Baku %></span>
            </p>
          </div>
        </div>

        <div class="d-flex gap-20">
          <p class="mb-10">
            * Vətəndaşlığı
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
          <p class="mb-10">
            * Şəxsiyyəti təsdiq edən sənədin seriya və nömrəsi
            <span class="underlined"><%= AA2299988 %></span>
          </p>
        </div>
        <div class="d-flex gap-20">
          <p class="mb-10">
            * FIN kodu
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
          <p class="mb-10">
            * Verilmə tarixi:
            <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
          </p>
        </div>
        <p class="mb-10">
          * Bitmə tarixi
          <span class="underlined ml-5"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <div class="row">
          <p>Adı, Soyadı, Ata adı dəyişdirilib mi?</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" checked />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>
        </div>
        <p class="mb-10">
          Cavab "Bəli" olduğu təqdirdə əvvəlki ad, soyad, ata adını qeyd edin
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">* Qeydiyyat ünvanı:</p>

        <p class="mb-10">
          (Ölkə, şəhər, küçə, bina, mənzil)
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="row mb-10">
          * Faktiki ünvanı
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">Qeydiyyat ünvanı ilə eynidir</label>
          </div>
        </div>

        <p class="mb-10">
          (Ölkə, şəhər, küçə, bina, mənzil, poçt ünvanı)
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * Telefonlar
          <span class="underlined ml-20"><%= test@mail.com %></span>
        </p>
        <p class="mb-10">
          * E- poçt
          <span class="underlined ml-20"><%= test@mail.com %></span>
        </p>

        <div class="mb-10">
          <div class="d-flex">
            * Məşğulluq statusu:
            <div class="flex-center">
              <input type="checkbox" />
              <label>İşləyir</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Şəxsi iş</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Sahibkarlıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Pensiya</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Tələbə</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>İşsiz</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Digər (z.o. açıqlayın)</label>
            </div>
          </div>

          <div class="row">
            <p class="mt-10">
              * İşlədiyi təşkilat
              <span class="underlined"><%= DD MMCMMCMMC %></span>
            </p>

            <p class="mt-10">
              * Vəzifə/ Fəaliyyət istiqaməti
              <span class="underlined"><%= DD MMCMMCMMC %></span>
            </p>
          </div>

          <div class="row">
            <p>
              Aylıq əmək haqqı:
              <span class="underlined"><%= DD MMCMMCMMC %></span> (AZN)
            </p>
          </div>

          <div class="row">
            <p>* Əlavə gəlir mənbəyi var?</p>

            <div class="d-flex">
              <div class="flex-center">
                <input type="checkbox" checked />
                <label>Bəli</label>
              </div>
              <div class="flex-center">
                <input type="checkbox" />
                <label>Xeyr</label>
              </div>
            </div>
          </div>

          <p class="mb-10">
            Cavabınız "bəli" olduğu təqdirdə digər gəlir mənbəyinizi qeyd edin:
          </p>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">pensiya/sosial müavinatlər</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">depozit faizləri</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">dividendlər</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">icarədən gəlir/renta </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">royalti</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">miras payı</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>sahibkarlıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>digər</label>
              <span class="underlined"><%= REASON REASON %></span>
            </div>
          </div>
        </div>

        <div class="row">
          <p class="mt-10">
            * İşlədiyi təşkilat
            <span class="underlined"><%= DD MMCMMCMMC %></span>
          </p>

          <p class="mt-10">
            * Vəzifə/ Fəaliyyət istiqaməti
            <span class="underlined"><%= DD MMCMMCMMC %></span>
          </p>
        </div>

        <div class="mb-10">
          Aylıq əmək haqqı:
          <span class="underlined"><%= 20000000 %></span> (AZN)
        </div>
        <div class="row">
          <p>Əlavə gəlir mənbəyi var:</p>

          <div class="d-flex">
            <div class="flex-center">
              <input type="checkbox" />
              <label>Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Xeyr</label>
            </div>
          </div>
        </div>
        <p class="mb-10">
          Cavab “Bəli” olduğu təqdirdə, zəhmət olmasa qeyd edin
        </p>

        <div class="flex-wrap gap-5 mb-10">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">sahibkarlıq</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">pensiya/ sosial müavinətlər</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">depozit faizləri</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">dividendlər</label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">icarədən gəlir/renta</label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">royalti</label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">miras payı</label>
          </div>
        </div>
        <p class="mb-10">
          * Yuxarıda qeyd edilən əlavə gəlir mənbələri üzrə illik gəlirin ümumi
          məbləği və dövrülüyü:
        </p>
        <div class="row">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">10,000 AZN qədər </label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">10,000 – 50,000 AZN </label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">50,000 – 100,000 AZN </label>
          </div>

          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">100,000 – 150,000 AZN</label>
          </div>
        </div>

        <div class="row">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">150,000 AZN-dən çox</label>
          </div>
          <div>Digər <span class="underlined"><%= 20000000 %></span> (AZN)</div>
        </div>

        <div class="row">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">Həftəlik</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">Aylıq</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">İllik</label>
          </div>
        </div>

        <p class="mb-10">
          Şəxs, yaxın qohumu və ya yaxın münasibətdə olduğu şəxs siyasi nüfuzlu
          şəxsdirmi?
        </p>
        <div class="d-flex gap-5 mb-10">
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">Xeyr</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr">Siyasi nüfuzlu şəxsin yaxın qohumu</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label for="xeyr"
              >Siyasi nüfuzlu şəxsin yaxın münasibətdə olduğu şəxs</label
            >
          </div>
        </div>
        <p class="mb-10">
          *Zəhmət olmasa Siyasi nüfuzlu şəxs (yaxın qohum və ya yaxın
          münasibətdə olduğu şəxs) olduğu halda “Siyasi Nüfuzlu Şəxs” və
          “Sərvətin Mənbəyi”anketlərini doldurun
        </p>

        <div class="d-flex gap-10 mb-10">
          <p>* Cinayət məsuliyyətinə cəlb edilib?</p>

          <div class="flex-center">
            <input type="checkbox" />
            <label>Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>Xeyr</label>
          </div>
        </div>

        <p class="mb-10">
          Cavab “Bəli” olduğu təqdirdə, zəhmət olmasa açıqlayın
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>
      </div>

      <div class="content">
        <div class="grey-block mb-10">
          <h4 class="ml-10 mt-5">
            XEYRİNƏ ƏMƏLİYYAT APARILAN ŞƏXS HAQQINDA MƏLUMAT
          </h4>
        </div>
        <div class="d-flex gap-10 mb-10">
          <p>
            * Hesab üzrə planlaşdırılan əməliyyatlar sizin xeyrinizə aparılacaq?
          </p>

          <div class="flex-center">
            <input type="checkbox" />
            <label>Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>Xeyr</label>
          </div>
        </div>

        <div class="flex-center mb-10">
          <input type="checkbox" />
          <label
            >Hesab sahibi və ya maliyyələşdirən şəxsin (sponsor) xeyrinə</label
          >
        </div>

        <p class="mb-10">
          “Xeyr” seçildiyi təqdirdə hesabınızdan xeyrinə əməliyyat aparılan şəxs
          haqqında aşağıda göstərilən məlumatları doldurun.
        </p>
        <p class="mb-10">
          Hesabınızdan xeyrinə əməliyyat aparılan şəxslə qohumluq əlaqəsinə dair
          məlumat
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <p class="mb-10">
          * Ad, Soyad, Ata adı
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <div class="d-flex gap-10 mb-10">
          <p>* Ad, Soyad, Ata adı dəyişdirilib mi?</p>

          <div class="flex-center">
            <input type="checkbox" />
            <label>Bəli</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>Xeyr</label>
          </div>
        </div>
        <p class="mb-10">
          Cavabınız "bəli" olduğu təqdirdə əvvəlki ad, soyad, ata adını qeyd
          edin
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="d-flex gap-10 mb-10">
          <p>* Cinsi</p>

          <div class="flex-center">
            <input type="checkbox" />
            <label>K</label>
          </div>
          <div class="flex-center">
            <input type="checkbox" />
            <label>Q</label>
          </div>
        </div>

        <p class="mb-10">
          * Doğum tarixi
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * Doğulduğu yer
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <p class="mb-10">
          * Vətəndaşlığı
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          *Şəxsiyyəti təsdiq edən sənədin seriya və nömrəsi
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * FIN kodu
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          *Verilmə tarixi:
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>
        <p class="mb-10">
          *Bitmə tarixi:
          <span class="underlined ml-20"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">* Qeydiyyat ünvanı</p>

        <p class="mb-10">
          (Ölkə, şəhər, küçə, bina, mənzil)
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <div class="row mb-10">
          * Faktiki ünvanı
          <div class="flex-center">
            <input type="checkbox" />
            <label for="beli">Qeydiyyat ünvanı ilə eynidir</label>
          </div>
        </div>

        <p class="mb-10">
          (Ölkə,şəhər, küçə, ev, mənzil, poçt ünvanı)
          <span class="underlined"><%= Azerbaycan,Baku,Test %></span>
        </p>

        <p class="mb-10">
          * E- poçt
          <span class="underlined"><%= test@mail.com %></span>
        </p>

        <p class="mb-10">
          * Telefon nömrəsi
          <span class="underlined"><%= test@mail.com %></span>
        </p>

        <div class="mb-10">
          <div class="d-flex">
            * Məşğulluq statusu:
            <div class="flex-center">
              <input type="checkbox" />
              <label>İşləyir</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Şəxsi iş</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Sahibkarlıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Pensiya</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Tələbə</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>İşsiz</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>Digər (z.o. açıqlayın)</label>
            </div>
          </div>

          <div class="row">
            <p class="mt-10">
              * İşlədiyi təşkilat
              <span class="underlined"><%= DD MMCMMCMMC %></span>
            </p>

            <p class="mt-10">
              * Vəzifə/ Fəaliyyət istiqaməti
              <span class="underlined"><%= DD MMCMMCMMC %></span>
            </p>
          </div>

          <div class="row">
            <p>
              Aylıq əmək haqqı:
              <span class="underlined"><%= DD MMCMMCMMC %></span> (AZN)
            </p>
          </div>

          <div class="row">
            <p>* Əlavə gəlir mənbəyi var?</p>

            <div class="d-flex">
              <div class="flex-center">
                <input type="checkbox" checked />
                <label>Bəli</label>
              </div>
              <div class="flex-center">
                <input type="checkbox" />
                <label>Xeyr</label>
              </div>
            </div>
          </div>

          <p class="mb-10">
            Cavabınız "bəli" olduğu təqdirdə digər gəlir mənbəyinizi qeyd edin:
          </p>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">pensiya/sosial müavinatlər</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">depozit faizləri</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">dividendlər</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">icarədən gəlir/renta </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">royalti</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">miras payı</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>sahibkarlıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label>digər</label>
              <span class="underlined"><%= REASON REASON %></span>
            </div>
          </div>
        </div>
        <div class="mb-20">
          <p class="mb-10">
            Yuxarıda qeyd edilən əlavə gəlir mənbələri üzrə illik gəlirin ümumi
            məbləği və dövrülüyü:
          </p>
          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">10,000 AZN qədər </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">10,000 – 50,000 AZN </label>
            </div>

            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">50,000 – 100,000 AZN </label>
            </div>
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">100,000 – 150,000 AZN</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">150,000 AZN-dən çox</label>
            </div>
            Digər <span class="underlined"> <%= 20000000 %> </span> (AZN)
          </div>

          <div class="row">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">Həftəlik</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Aylıq</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">İllik</label>
            </div>
          </div>
        </div>

        <div class="mb-30">
          <p class="mb-10">
            Şəxs, yaxın qohumu və ya yaxın münasibətdə olduğu şəxs siyasi
            nüfuzlu şəxsdirmi?
          </p>
          <div class="d-flex gap-5">
            <div class="flex-center">
              <input type="checkbox" />
              <label for="beli">Bəli</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Xeyr</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr">Siyasi nüfuzlu şəxsin yaxın qohumu</label>
            </div>
            <div class="flex-center">
              <input type="checkbox" />
              <label for="xeyr"
                >Siyasi nüfuzlu şəxsin yaxın münasibətdə olduğu şəxs</label
              >
            </div>
          </div>

          <div class="mt-10">
            <label
              >Zəhmət olmasa Siyasi nüfuzlu şəxs (yaxın qohum və ya yaxın
              münasibətdə olduğu şəxs) olduğu halda “Siyasi nüfüzlu şəxs” və
              “Sərvətin mənbəyi”anketlərini doldurun</label
            >
          </div>
        </div>

        <div>
          <label>* Cinayət məsuliyyətinə cəlb edilib?</label>
          <input type="checkbox" />
          <label for="beli">Bəli</label>
          <input type="checkbox" />
          <label for="xeyr">Xeyr</label>

          <div class="mt-10">
            <label
              >Cavab “Bəli” olduğu təqdirdə, zəhmət olmasa açıqlayın:</label
            >
            <span class="underlined"> <%= Reason Reason Reason Reason %> </span>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="grey-block text-center justify-center">
          <h4 class="mt-5">MÜŞTƏRİ BƏYANNAMƏSİ</h4>
        </div>

        <p class="mt-20 ml-10">
          Bununla təqdim edilmiş məlumatların düzgünlüyünü və məlumatlarda baş
          verən hər bir dəyişikliklər barədə bankı vaxtında məlumatlandıracağımı
          imzamla təsdiq edirəm. Qeyd olunmuş ŞİFRƏni təqdim etmək şərtilə
          telefon vasitəsilə hesab üzrə məlumatın müraciət edən şəxsə
          verilməsinə etiraz etmirəm. AR dövlət informasiya sistemlərindən
          verifikasiya üçün şəxsiyyət vəsiqəsi üzrə məlumatlarımın Bank
          tərəfindən əldə edilib çap olunmasına etiraz etmirəm.
        </p>

        <p class="mt-20">
          Qeyd: «Cinayət yolu ilə əldə edilmiş əmlakın leqallaşdırılmasına və
          terrorçuluğun maliyyələşdirilməsinə qarşı mübarizə haqqında»
          Azərbaycan Respublikasının Qanunu hər hansı dövlətin siyasi nüfuzlu
          şəxslərinin, onların yaxın qohumlarınin və ya yaxın münasibətdə olduğu
          şəxslərinin pul vəsaitləri və ya digər əmlakla əməliyyatlarına
          münasibətdə bu Qanunda nəzərdə tutulan eyniləşdirmə və verifikasiya
          tədbirləri ilə yanaşı, əlavə eyniləşdirmə tədbirlərinin tətbiqini
          tələb edir. «Cinayət yolu ilə əldə edilmiş əmlakın leqallaşdırılmasına
          və terrorçuluğun maliyyələşdirilməsinə qarşı mübarizə haqqında»
          Azərbaycan Respublikası Qanununun 1.1.24-1.1.26-cı maddələrinə əsasən
          hər hansı dövlətlərin siyasi nüfuzlu şəxsləri, onların yaxın qohumları
          və ya yaxın münasibətdə olduğu şəxslərə aşağıdakı şəxslər aid edilib:
          1) Hər hansı dövlətdə mühüm ictimai vəzifə tutan və ya əvvəllər belə
          vəzifəni tutmuş şəxslər – dövlət və ya hökumət başçıları, nüfuzlu
          siyasətçilər, hökumət üzvləri, yuxarı instansiya məhkəmələrinin
          hakimləri, yüksək rütbəli hərbi qulluqçular, dövlət mülkiyyətində olan
          müəssisələrin rəhbər vəzifəli şəxsləri, siyasi partiya vəzifəli
          şəxsləri və s.; 2) Hər hansı dövlətdə mühüm ictimai vəzifə tutan və ya
          əvvəllər belə vəzifəni tutmuş şəxslərin yaxın qohumları;3) Hər hansı
          dövlətdə mühüm ictimai vəzifə tutan və ya əvvəllər belə vəzifəni
          tutmuş şəxslərin yaxın münasibətdə olduğu şəxslər
        </p>

        <p class="mt-20">
          Qeyd:Yaxın qohumlara siyasi nüfuzlu şəxslərin valideynləri, babaları,
          nənələri, əri, arvadı, uşaqları, nəvələri, doğma və ögey qardaşları və
          bacıları, övladlığa götürənləri (götürülənləri) aiddir.
        </p>

        <p class="mt-20">
          Qeyd:Yaxın münasibətdə olduğu şəxslərə siyasi nüfuzlu şəxslə eyni
          hüquqi şəxs və ya xarici hüquqi təsisatın ortaq benefisiar
          mülkiyyətçisi olan və ya onunla istənilən digər sıx sahibkarlıq
          münasibətində olan fiziki şəxslər, siyasi nüfuzlu şəxslərin faktiki
          mənfəət əldə etməsi məqsədilə təsis edilmiş hüquqi şəxsin və ya xarici
          hüquqi təsisatın təsisçisi və ya benefisiar mülkiyyətçisi olan fiziki
          şəxslər və yaxud adlarına siyasi nüfuzlu şəxsə faktiki məxsus əmlaka
          hüquqların rəsmiləşdirildiyi şəxslər aiddir.
        </p>

        <div class="blocks mt-20 mb-10">
          <div class="block">
            <h4>Müştərinin Adı, Soyadı</h4>
          </div>
          <div class="block">
            <h4>Müştərinin imzası</h4>
          </div>
        </div>

        <div class="blocks mb-20">
          <div class="grey-block-46 text-center justify-center"></div>
          <div class="grey-block-46 text-center justify-center"></div>
        </div>

        <p>
          <b><i>Qeyd:</i></b> Ərizə başlıqda göstərilən tarixdən qüvvəyə minir.
        </p>
      </div>
    </div>
  </body>
</html>
